body{
    color: #062643;
    text-align: center;
}
header {
    border-radius: 10px;
    background-color: rgb(18, 205, 222);
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: underline;
}
header img {
    width: 40px;
    height: auto;
    margin: 0 10px;
}
.bejelenkezve{
    display: inline-block;
    margin-left: auto;
    text-decoration: none;
    font-style: bold;
    color:#062643;
}
div#wrapper {
    justify-content: center;
    margin: 10px;
    width: 1200px;
    margin: auto;
    display:flex;
}
nav {
    border-radius: 10px;
    margin: 10px;
    background-color:#99FFCC;
    font-size: medium;
}

nav ul {
    display: flex !important;
    flex-direction: row !important;

    list-style: none;
    margin: 0;
}

nav ul li {
    display: block;
    padding: 15px;
}
nav ul li.active {
    background-color:rgb(6, 218, 237);
}

nav ul a {
    text-decoration: none;
    color:#021c35
}

div#content {
    display: table-cell;
    width: 100%;
    border-radius: 10px;
    background-color: #62a2f6;
    padding: 15px;
}

div#content img{
    float: right;
    width: 20em;
    height: auto;
    margin: 0 0 15px 15px;
    padding: 3px;
    border: 3px solid blue;
}
footer {
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
    background-color: #877aff;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.box {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

video, iframe {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.full {
    grid-column: span 2;
}
div#galeria {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content:center;
}
div.kep img {
    width:250px;
    height:200px;
    object-fit:cover;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}
input{
    font-size: medium;
    background-color: #ffffff;
    border-color: none;
}
#alahuz{
    text-decoration: underline;
}